#shopping-car
  background: #fff
  margin: 0px auto
  width: 90%
.mainTitle
  font-size: 20px
  margin: 30px 0px
.allFoods
  font-size: 16px
  color: #F1BD5B
  margin-bottom: 24px
.listTitle
  .item
    display: inline-block
    width: 12%
    font-size: 14px
    text-align: center
    &:first-child
      text-align: left
.storeItem
  width: 100%
  border: 1px solid #ccc
  border-radius: 4px
  margin-top: 20px
  margin-bottom: 20px
  min-width: 800px

  .storeTop
    padding: 0 20px
    height: 40px
    line-height: 40px
    background: rgb(237, 238, 239)
  .storeName, .storeConsult
    display: inline-block
    font-size: 14px
    margin-right: 20px
  .foodItem
    font-size: 14px
    height: 100px
    display: flex
    overflow: hidden
    .colItem
      display: flex
      align-items: center
      width: 12%
      height: 100px
      overflow: hidden
      justify-content: center

    .colItem:first-child
      padding-left: 20px
      justify-content: left
    .pic img
      width: 80px
      height: 80px
      margin-left: 4%